@model DevFormAz.Models.Form
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Content -->
<section class="pageWrapperForIndex mt-3 mb-3">
    <div class="container">

        <div id="mainFormContent">
            <div class="row">
                <!-- Left side -->
                <div class="col-md-12 col-lg-2 col-12  col-sm-12">
                    <div class="devNavs">
                        <div class="navs">
                            <ul>
                                <li>
                                    <a href="/Home/TagPage">Taglar</a>
                                </li>
                                <li>
                                    <a href="/Home/UsersInspectPage">İstifadəçilər</a>
                                </li>
                                <li>
                                    <a href="#">Proyektlər</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- ReadForm -->
                <div class="col-md-12 col-lg-8 col-12 col-sm-12 mt-4">
                    <div class="readForm">
                        <div class="FormHeaderDesc mb-2">
                            <div class="formHead">
                                <h2>Problem bashliqi</h2>
                            </div>
                            <div class="formDesc">
                                <p>etrafli melumati</p>
                            </div>
                        </div>
                        
                        <div class="viewLikeCount">
                            <div class="viewIconCount">
                                <div class="viewIcon">
                                    <i class="far fa-eye"></i>
                                </div>
                                <div class="viewCount">0</div>
                            </div>
                            <div class="likeIconCount">
                                <div class="likeIcon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="likeCount">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End ReadForm -->




                <!-- Rightside -->
                <div class="col-md-12 col-lg-2 col-12 col-sm-12">
                    <div class="tagsUsers">
                        <div class="tags">
                            <div class="tagHead">
                                <h5>Populyar taglar</h5>
                                <hr>
                            </div>
                            <div class="taglists">
                                <a href="#">Html <span>×1500</span></a>
                                <a href="#">Css <span>×1500</span></a>
                                <a href="#">Javascript <span>×1500</span></a>
                                <a href="#">C# <span>×1500</span></a>
                                <a href="#">Python <span>×1500</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Main Content -->
