    <!-- Main Content -->
<section class="pageWrapperForIndex mt-3 mb-3">
    <div class="container">
        <div id="usersList">
            <div class="userSearch">
                <input class="form-control" type="search" placeholder="Axtar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Axtar</button>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 col-sm-6 col-lg-3">
                    <div class="userBox">
                        <div class="userHead">
                            <img width="90" src="~/Public/Images/UsersFolder/ProfilePic/unnamed.jpg" alt="">
                            <h5><a href="#">Nurlan Huseynov</a></h5>
                        </div>
                        <div class="userJob">
                            <p>Web Developer</p>
                        </div>
                        <div class="userPopularity">
                            <p class="userFollowers">İzləyici:<span>15000</span></p>
                            <p class="userFollowers">İzləyir: <span>25</span></p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- Main Content -->